{% if goods_list %}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Название</th>
        <th scope="col">Дата поступления</th>
        <th scope="col">Цена</th>
        <th scope="col">Единица измерения</th>
        <th scope="col">Имя поставщика</th>
    </tr>
    </thead>
    {% for a in goods_list %}
    <tr>
        <td scope="row">{{ a.good_name }}</td>
        <td scope="row">{{ a.date_receipt }}</td>
        <td scope="row">{{ a.price }}</td>
        <td scope="row">{{ a.unit }}</td>
        <td scope="row">{{ a.supplier }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
Список товаров пуст.
{% endif %}